  .wrapper {
          display: grid;
          grid-gap: 10px;
          grid-template-columns: 20% 20% 58%;

          color: #444;
      }
  
      .box {
          background-color: #444;
          color: #fff;
          border-radius: 5px;
          padding: 20px;
          font-size: 150%;
          display: block;
      }
  
      .a {
          grid-column: 1 / span 2;
         
      }
      .b {
          grid-column: 3 ;
          grid-row: 1 / span 3;
        
      }
      .c {
          grid-column: 1 ;
          grid-row: 2 ;
      
      }
      .d {
          grid-column: 2 ;
          grid-row: 2 ;
   
      }


body { margin: 5; padding: 5; background-color: #444;}
#map { position: absolute; top: 0; bottom: 0; width: 58%; border-radius: 5px; margin: 8px;}

body     { font-family: "Gill Sans Extrabold", Helvetica, sans-serif }

.block {
    display: grid;
    margin: 10px;
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.block_label {
    display: grid;
    margin: 5px;
    font-size: 16px;
    width: 100%;
    text-align: center;
}
.button {
    display: grid;
    margin: 5%;
    font-size: 18px;
    width: 80%;
}
.button_half {
    margin-left: 5%;

    font-size: 18px;
    width: 37%;
}

.title {
    display: grid;
    margin: 10px;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

#geojson {
    position: absolute;
    right: 5%;
    top: 940px;
    width: 10%;
}

#info {
  position: absolute;
  top: 20%;
  left: 20%;
  height: 50%;
  width: 50%;
  z-index: 1;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  border-color: black;
  border-style: double;
}

.distance-container {
    position: relative;
    top: 3px;
    left: 10px;
    width: 20%;
    z-index: 1;
  }

.distance-container>* {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 11px;
  line-height: 18px;
  display: block;
  margin: 0;
  padding: 5px 10px;
  border-radius: 3px;
}